@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #3b82f6;
  --color-accent: #10b981;
  --color-neutral: #f3f4f6;
  --color-dark: #1f2937;
}
